:root{
  
  --font-family: 'Mulish', sans-serif;
 
  --light:#00c3ff;
  // --light:#ff7675;

   --primary:#2071e7;
  primary:#c0392b;

   --dark:#2980b9;
  //--dark:#130f40;
  // --dark: #6D214F;
 
  --text:#333;
  --background:#fafafa;

  --hint:#999;
  --hint2: #cacaca;
  --border:#ddd;

}
